In [1]:
import pandas as pd
from pyarrow.parquet import ParquetFile

In [2]:
df = pd.read_parquet('../Data/features_withdupes.parquet', engine='pyarrow')

In [3]:
df.shape

(3155457, 172)

In [4]:
# since the parquet file contains the original indexes, can remove the duplicates based on index
no_dupe_indexes = df.drop_duplicates()
no_dupe_indexes.shape # 80,127 entries were removed

(3075330, 172)

In [5]:
columns = list(df.columns) # get list of column names
# columns.remove('Unnamed: 0') # remove the column that ocntains the original indexes
# print(columns)

In [6]:
# # checking for drugs that appear twice in the dataset only (same features and labels) and removing 1

# # Find entries that appear exactly twice in the specified columns
# entry_counts = no_dupe_indexes[columns].apply(lambda x: tuple(x), axis=1).value_counts()
# entries_appearing_twice = entry_counts[entry_counts == 2].index

# # Convert each row to a tuple and check if it exists in the list of entries appearing twice
# filtered_df = no_dupe_indexes[no_dupe_indexes[columns].apply(lambda x: tuple(x), axis=1).isin(entries_appearing_twice)]

# print(filtered_df.shape)

# # checking for drugs that appear twice in the dataset only (same features DIFFERENT labels) and removing both

In [7]:
df_no_index_dup = no_dupe_indexes[columns]
df_no_index_dup

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
0,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,573.411,1.50200,3574,1,0,0
1,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,578.365,1.25270,3873,1,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,637.045,3.21830,4715,1,0,0
3,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,621.072,2.10180,7581,1,0,0
4,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,664.162,2.53100,7605,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565546,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,789.105,4.29714,425970,0,0,0
1565547,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,660.069,2.22290,851954,0,0,0
1565548,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,653.971,0.46160,32760,0,0,0
1565549,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,733.530,1.72740,589818,0,0,0
1565550,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,752.971,6.01044,819195,0,0,0

In [8]:
del no_dupe_indexes, df

In [9]:
columns.remove('Unnamed: 0') # remove the column that ocntains the original indexes for duplication checking.
print(columns)

['fp_0', 'fp_1', 'fp_2', 'fp_3', 'fp_4', 'fp_5', 'fp_6', 'fp_7', 'fp_8', 'fp_9', 'fp_10', 'fp_11', 'fp_12', 'fp_13', 'fp_14', 'fp_15', 'fp_16', 'fp_17', 'fp_18', 'fp_19', 'fp_20', 'fp_21', 'fp_22', 'fp_23', 'fp_24', 'fp_25', 'fp_26', 'fp_27', 'fp_28', 'fp_29', 'fp_30', 'fp_31', 'fp_32', 'fp_33', 'fp_34', 'fp_35', 'fp_36', 'fp_37', 'fp_38', 'fp_39', 'fp_40', 'fp_41', 'fp_42', 'fp_43', 'fp_44', 'fp_45', 'fp_46', 'fp_47', 'fp_48', 'fp_49', 'fp_50', 'fp_51', 'fp_52', 'fp_53', 'fp_54', 'fp_55', 'fp_56', 'fp_57', 'fp_58', 'fp_59', 'fp_60', 'fp_61', 'fp_62', 'fp_63', 'fp_64', 'fp_65', 'fp_66', 'fp_67', 'fp_68', 'fp_69', 'fp_70', 'fp_71', 'fp_72', 'fp_73', 'fp_74', 'fp_75', 'fp_76', 'fp_77', 'fp_78', 'fp_79', 'fp_80', 'fp_81', 'fp_82', 'fp_83', 'fp_84', 'fp_85', 'fp_86', 'fp_87', 'fp_88', 'fp_89', 'fp_90', 'fp_91', 'fp_92', 'fp_93', 'fp_94', 'fp_95', 'fp_96', 'fp_97', 'fp_98', 'fp_99', 'fp_100', 'fp_101', 'fp_102', 'fp_103', 'fp_104', 'fp_105', 'fp_106', 'fp_107', 'fp_108', 'fp_109', 'fp_110', 'fp_111', 'fp_112', 'fp_113', 'fp_114', 'fp_115', 'fp_116', 'fp_117', 'fp_118', 'fp_119', 'fp_120', 'fp_121', 'fp_122', 'fp_123', 'fp_124', 'fp_125', 'fp_126', 'fp_127', 'fp_128', 'fp_129', 'fp_130', 'fp_131', 'fp_132', 'fp_133', 'fp_134', 'fp_135', 'fp_136', 'fp_137', 'fp_138', 'fp_139', 'fp_140', 'fp_141', 'fp_142', 'fp_143', 'fp_144', 'fp_145', 'fp_146', 'fp_147', 'fp_148', 'fp_149', 'fp_150', 'fp_151', 'fp_152', 'fp_153', 'fp_154', 'fp_155', 'fp_156', 'fp_157', 'fp_158', 'fp_159', 'fp_160', 'fp_161', 'fp_162', 'fp_163', 'fp_164', 'fp_165', 'MolWt', 'MolLogP', 'binds_BRD4', 'binds_HSA', 'binds_sEH']

In [10]:
df_no_index_dup[df_no_index_dup.duplicated(subset=columns, keep=False)] #all occurences of duplicates

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
1,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,578.365,1.25270,3873,1,0,0
48,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,625.059,3.57422,8885,1,0,0
49,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,702.164,4.76870,9331,1,0,0
50,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,782.254,4.72580,9332,1,0,0
52,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,647.044,2.63308,9612,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565394,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,629.949,2.23170,818873,0,0,0
1565424,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,682.448,4.07212,524026,0,0,0
1565437,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,685.119,0.96792,327439,0,0,0
1565497,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,732.455,4.08360,524178,0,0,0
1565514,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,743.900,4.48920,458682,0,0,0

In [11]:
df_no_index_dup[~df_no_index_dup.duplicated(subset=columns, keep=False)] #all occurences of non-duplicates

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
0,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,573.411,1.50200,3574,1,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,637.045,3.21830,4715,1,0,0
3,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,621.072,2.10180,7581,1,0,0
4,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,664.162,2.53100,7605,1,0,0
5,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,667.118,2.62782,7613,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565546,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,789.105,4.29714,425970,0,0,0
1565547,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,660.069,2.22290,851954,0,0,0
1565548,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,653.971,0.46160,32760,0,0,0
1565549,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,733.530,1.72740,589818,0,0,0
1565550,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,752.971,6.01044,819195,0,0,0

In [12]:
df_no_index_dup[~df_no_index_dup.duplicated(subset=columns, keep=False)].to_parquet('../Data/features_withoutdupes.parquet', engine='pyarrow')

In [13]:
df_no_index_dup[df_no_index_dup.duplicated(subset=columns, keep=False)].to_parquet('../Data/features_stereoisomers.parquet', engine='pyarrow')

In [1]:
#Restart kernal or del df_no_index_dup to clear ram
# del df_no_index_dup
import pandas as pd
df = pd.read_parquet('../Data/features_stereoisomers.parquet', engine='pyarrow')
df

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
1,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,578.365,1.25270,3873,1,0,0
48,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,625.059,3.57422,8885,1,0,0
49,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,702.164,4.76870,9331,1,0,0
50,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,782.254,4.72580,9332,1,0,0
52,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,647.044,2.63308,9612,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565394,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,629.949,2.23170,818873,0,0,0
1565424,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,682.448,4.07212,524026,0,0,0
1565437,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,685.119,0.96792,327439,0,0,0
1565497,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,732.455,4.08360,524178,0,0,0
1565514,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,743.900,4.48920,458682,0,0,0

In [2]:
columns = df.columns
features = columns[:-4] #only keep features
list(features)

['fp_0',
 'fp_1',
 'fp_2',
 'fp_3',
 'fp_4',
 'fp_5',
 'fp_6',
 'fp_7',
 'fp_8',
 'fp_9',
 'fp_10',
 'fp_11',
 'fp_12',
 'fp_13',
 'fp_14',
 'fp_15',
 'fp_16',
 'fp_17',
 'fp_18',
 'fp_19',
 'fp_20',
 'fp_21',
 'fp_22',
 'fp_23',
 'fp_24',
 'fp_25',
 'fp_26',
 'fp_27',
 'fp_28',
 'fp_29',
 'fp_30',
 'fp_31',
 'fp_32',
 'fp_33',
 'fp_34',
 'fp_35',
 'fp_36',
 'fp_37',
 'fp_38',
 'fp_39',
 'fp_40',
 'fp_41',
 'fp_42',
 'fp_43',
 'fp_44',
 'fp_45',
 'fp_46',
 'fp_47',
 'fp_48',
 'fp_49',
 'fp_50',
 'fp_51',
 'fp_52',
 'fp_53',
 'fp_54',
 'fp_55',
 'fp_56',
 'fp_57',
 'fp_58',
 'fp_59',
 'fp_60',
 'fp_61',
 'fp_62',
 'fp_63',
 'fp_64',
 'fp_65',
 'fp_66',
 'fp_67',
 'fp_68',
 'fp_69',
 'fp_70',
 'fp_71',
 'fp_72',
 'fp_73',
 'fp_74',
 'fp_75',
 'fp_76',
 'fp_77',
 'fp_78',
 'fp_79',
 'fp_80',
 'fp_81',
 'fp_82',
 'fp_83',
 'fp_84',
 'fp_85',
 'fp_86',
 'fp_87',
 'fp_88',
 'fp_89',
 'fp_90',
 'fp_91',
 'fp_92',
 'fp_93',
 'fp_94',
 'fp_95',
 'fp_96',
 'fp_97',
 'fp_98',
 'fp_99',
 'fp_100',
 'fp_101',
 'fp_102',
 'fp_103',
 'fp_104',
 'fp_105',
 'fp_106',
 'fp_107',
 'fp_108',
 'fp_109',
 'fp_110',
 'fp_111',
 'fp_112',
 'fp_113',
 'fp_114',
 'fp_115',
 'fp_116',
 'fp_117',
 'fp_118',
 'fp_119',
 'fp_120',
 'fp_121',
 'fp_122',
 'fp_123',
 'fp_124',
 'fp_125',
 'fp_126',
 'fp_127',
 'fp_128',
 'fp_129',
 'fp_130',
 'fp_131',
 'fp_132',
 'fp_133',
 'fp_134',
 'fp_135',
 'fp_136',
 'fp_137',
 'fp_138',
 'fp_139',
 'fp_140',
 'fp_141',
 'fp_142',
 'fp_143',
 'fp_144',
 'fp_145',
 'fp_146',
 'fp_147',
 'fp_148',
 'fp_149',
 'fp_150',
 'fp_151',
 'fp_152',
 'fp_153',
 'fp_154',
 'fp_155',
 'fp_156',
 'fp_157',
 'fp_158',
 'fp_159',
 'fp_160',
 'fp_161',
 'fp_162',
 'fp_163',
 'fp_164',
 'fp_165',
 'MolWt',
 'MolLogP']

In [3]:
duplicates = df[df.duplicated(subset=list(features), keep=False)]
grouped_duplicates = duplicates.groupby(list(features))
#test
count = 0
for group_key, group_df in grouped_duplicates:
    count += 1
    print(f"Group key: {group_key}") #the features list
    print(group_df) #literally a dataframe of all the dupes
    print("\n")
    if count == 1:
        break

Group key: (0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 661.0300000000001, 5.392900000000003)
        fp_0  fp_1  fp_2  fp_3  fp_4  fp_5  fp_6  fp_7  fp_8  fp_9  ...  \
265783     0     0     0     0     0     1     0     0     0     0  ...
265831     0     0     0     0     0     1     0     0     0     0  ...
311057     0     0     0     0     0     1     0     0     0     0  ...
311058     0     0     0     0     0     1     0     0     0     0  ...
311059     0     0     0     0     0     1     0     0     0     0  ...

        fp_162  fp_163  fp_164  fp_165   MolWt  MolLogP  Unnamed: 0  \
265783       1       1       1       0  661.03   5.3929      929052
265831       1       1       1       0  661.03   5.3929      929725
311057       1       1       1       0  661.03   5.3929      852425
311058       1       1       1       0  661.03   5.3929      852443
311059       1       1       1       0  661.03   5.3929      852444

        binds_BRD4  binds_HSA  binds_sEH
265783           0          1          0
265831           0          1          0
311057           0          1          0
311058           0          1          0
311059           0          1          0

[5 rows x 172 columns]

In [4]:
'''[TEST] collapsing duplicates via majority vote and keeping first occurence only'''
de_dupped_steroisomers = pd.DataFrame(columns=df.columns)
count = 0
for group_key, group_df in grouped_duplicates:
    count += 1
    output_dict = {}
    for index, row in group_df.iterrows():
        output = f"{row['binds_BRD4']}{row['binds_HSA']}{row['binds_sEH']}"
        if output not in output_dict.keys():
            output_dict[output] = []
            output_dict[output].append(index)
        else:
            output_dict[output].append(index)

    max_length = 0
    max_key = None
    for key, val in output_dict.items():
        current_length = len(val)
        if current_length > max_length:
            max_length = current_length
            max_key = key
        elif current_length == max_length:
            continue #skips rows with two outputs with the same frequency
    winning_index_list = output_dict[max_key]
    original_index = df.loc[winning_index_list[0]]['Unnamed: 0']
    row_to_append = df[df['Unnamed: 0'] == int(original_index)] #df.loc[winning_index_list[0]]
    de_dupped_steroisomers = pd.concat([de_dupped_steroisomers, row_to_append])
    if count == 5:
        break

de_dupped_steroisomers

/tmp/ipykernel_57283/615993956.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  de_dupped_steroisomers = pd.concat([de_dupped_steroisomers, row_to_append])

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
265783,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,661.030,5.39290,929052,0,1,0
81821,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,689.084,6.00974,622526,0,1,0
484964,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,673.514,2.93050,622526,0,0,1
266788,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,715.528,4.46344,313604,0,1,1
331782,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,680.505,4.45762,313604,0,0,1
738589,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,677.029,4.68620,313604,0,0,0
56893,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,730.133,6.73212,655815,0,0,1
853432,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,726.054,4.63792,963003,0,0,0

In [5]:
group_df

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
853432,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,726.054,4.63792,963003,0,0,0
957849,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,726.054,4.63792,937920,0,0,0

In [6]:
output_dict

{'0.00.00.0': [853432, 957849]}

In [10]:
'''collapsing duplicates via majority vote and keeping first occurence only'''
de_dupped_steroisomers = pd.DataFrame(columns=df.columns)
# count = 0
for group_key, group_df in grouped_duplicates:
    for group_key, group_df in grouped_duplicates:
        output_dict = {}
        for index, row in group_df.iterrows():
            output = f"{row['binds_BRD4']}{row['binds_HSA']}{row['binds_sEH']}"
            if output not in output_dict.keys():
                output_dict[output] = []
                output_dict[output].append(index)
            else:
                output_dict[output].append(index)

        max_length = 0
        max_key = None
        for key, val in output_dict.items():
            current_length = len(val)
            if current_length > max_length:
                max_length = current_length
                max_key = key
            elif current_length == max_length:
                continue #skips rows with two outputs with the same frequency
        winning_index_list = output_dict[max_key]
        original_index = group_df.loc[winning_index_list[0]]['Unnamed: 0'] #there are duplicate index values in df for some reason, used group_df and unnamed: 0 for best result
        row_to_append = df[df['Unnamed: 0'] == int(original_index)] #df.loc[winning_index_list[0]]
        de_dupped_steroisomers = pd.concat([de_dupped_steroisomers, row_to_append], ignore_index=True)
    # if count == 5:
    #     break

de_dupped_steroisomers

/tmp/ipykernel_57283/706114016.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  de_dupped_steroisomers = pd.concat([de_dupped_steroisomers, row_to_append], ignore_index=True)

In [36]:
group_df

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
192116,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,717.087,4.8413,541548,0,0,0
211568,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,717.087,4.8413,219213,0,0,0

In [37]:
winning_index_list

[192116, 211568]

In [38]:
row_to_append

,fp_0,fp_1,fp_2,fp_3,fp_4,fp_5,fp_6,fp_7,fp_8,fp_9,...,fp_162,fp_163,fp_164,fp_165,MolWt,MolLogP,Unnamed: 0,binds_BRD4,binds_HSA,binds_sEH
192116,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,680.542,3.23422,117136,0,0,1
192116,0,0,0,0,0,1,0,0,0,0,...,1,1,1,0,717.087,4.84130,541548,0,0,0

In [ ]:
de_dupped_steroisomers.to_parquet('../Data/de_dupped_steroisomers.parquet', engine='pyarrow')

In [ ]:
df = pd.read_parquet('../Data/features_withoutdupes.parquet', engine='pyarrow')
de_dupped_steroisomer = pd.read_parquet('../Data/de_dupped_steroisomers.parquet', engine='pyarrow')

Final_deduplicated_sampleset = pd.concat([df,de_dupped_steroisomer], ignore_index=True)
Final_deduplicated_sampleset.to_parquet('../Data/Deduplicated_sampleset.parquet', engine='pyarrow')

In [ ]:
#for each item in the dictionary, check the output columns ('bind_BRD4', 'binds_HSA', and 'binds_sEH') in the original df using the index stored in the values. 
# de_dupped_steroisomers = pd.DataFrame(columns=df.columns)
# for key, values in dup_dict.items():
#     ballot_box = []
#     for i in values:
#         ballot_box.append(f"{df.at[i, 'bind_BRD4']}{df.at[i, 'binds_HSA']}{df.at[i, 'binds_sEH']}")
#     freqs = pd.Series(ballot_box).value_counts()
#     majority = freqs.idxmax()
#     if len(majority) != 1:
#         continue
#     else:
#         filtered_indices = [idx for idx, output in zip(values, ballot_box) if output == majority] #get indicies corresponding to the most frequent output
#         df[]

#Store all combinations of these columns as items in a list or dictionary and find the output with the greatest frequency. Store in a new df, the first index value in the dict_A in unnamed: 0